{% extends "base.html" %}
{% block title %} login {% endblock %}
{% block content %}

<div class="row">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
        <form method="POST" action="#">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.name.label }}
                {{ form.name(class="form-control", placeholder="name") }}
                {{ form.password.label }}
                {{ form.password(class="form-control", placeholder="password")}}
                {{ form.re_password.label }}
                {{ form.re_password(class="form-control", placeholder="repassword")}}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div>

{% endblock %}
